body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inputForms {
  display: block;
  text-align: left;
  margin: 5px 10px;
}
input {
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  height: 20px;
  margin: 5px 0px;
  font-size: medium;
}

button {
  border: 1px solid #000000;
  background: none;
  padding: 10px 50px;
  font-size: medium;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
}

button:hover {
  color: #fff;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #000000;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

button:hover::before {
  height: 180%;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: larger;
}
